.datatable{
    height: 600px;
    padding: 20px;

    .datatableTitle{
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        align-items: center;
        justify-content: space-between;
        display: flex;


        .link{
            text-decoration: none;
            color:green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green ;
            border-radius: 5px;
            cursor: pointer;
            


        }

    }

    .cellWithImg{
        display: flex;
        align-items: center;
    }

    .cellImg{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
    }

    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;

        &.Active{
            color: green;
            background-color: rgba(
                green,.2);
            
        }
        &.Inactive{
            color: red;
            background-color: rgba(red
            ,  .2);
        }
    }

.cellAction{
    display: flex;
    align-items: baseline;
    gap: 15px;

    .viewButton{
        padding: 2px 5px;
        border-radius: 5px;
        color: darkblue;
        border: 1px dotted rgba(0,0,139,0.5);
        cursor: pointer;
    }
    .deleteButton{
        padding: 2px 5px;
        border-radius: 5px;
        color: orange;
        background-color: rgba(orange, .2);
        cursor: pointer;
    }
}

}