.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;
  }

  .top,
  .bottom {
    box-shadow: 2px 4px 10px 1px rgba(gray, 0.47);
    padding: 10px;
    margin: 20px;
    display: flex;

    h1 {
      color: lightgray;
      font-size: 20px;
    }

    .left {
      flex: 1;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .rigth {
      flex: 2;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-around;

      .formInput {
        width: 40%;

        label{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        input {
          width: 100%;
          padding: 5px;
          border: none;
          border-bottom: 1px solid gray;
        }
      }
      button{
        width: 150px;
        padding: 10px;
        border:none;
        background-color: teal;
        color: white;
        font-weight: bold;
        margin-top: 10px;

      }
    }
  }
}
